<img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
    alt="Photo of a Shiba Inu">
<div style="margin: -12px;">
    <p class="mat-body-strong">Xis Carne</p>
    <p class="mat-small faded-text">Pão, carne, aaa, milho, evervilha, calabresa, maionese, mostarda,
        ketchup.</p>
    <p class="mat-h2">R$ 10,00</p>
</div>
<div mat-dialog-actions align="end" style="margin: 0 -12px -24px 0;">
    <button mat-button [mat-dialog-close]="false">Voltar</button>
    <button mat-raised-button color='primary' [mat-dialog-close]="true" cdkFocusInitial>Carrinho</button>
</div>