.container{
    padding: 12px;
    width: calc(100%-24);
    overflow: auto;
    margin-bottom: 12px;
}

h3{
    font-weight: 600;
    margin: 0 0 0 12px;
}   

.list{
    display: inline-flex;
    white-space: nowrap;
}