<section class="mat-typography">
    <h3>Promoções</h3>
</section>
<div class="container">
    <div class="list">
       
        <mat-card style="width: 140px; margin: 0 6px 0 0;">
            <img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="font-weight: 500;">Xis Carne</p>
                <p style="font-weight: 400;">Validade: 12/06/2020</p>
                <p style="font-weight: 600;">R$ 10,00</p>
            </mat-card-content>
        </mat-card>
        <mat-card style="width: 140px; margin: 0 6px 0 6px;">
            <img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="font-weight: 500;">Xis Carne</p>
                <p style="font-weight: 400;">Validade: 12/06/2020</p>
                <p style="font-weight: 600;">R$ 10,00</p>
            </mat-card-content>
        </mat-card>
        <mat-card style="width: 140px; margin: 0 6px 0 6px;">
            <img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="font-weight: 500;">Xis Carne</p>
                <p style="font-weight: 400;">Validade: 12/06/2020</p>
                <p style="font-weight: 600;">R$ 10,00</p>
            </mat-card-content>
        </mat-card>
        <mat-card style="width: 140px; margin: 0 6px 0 6px;">
            <img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="font-weight: 500;">Xis Carne</p>
                <p style="font-weight: 400;">Validade: 12/06/2020</p>
                <p style="font-weight: 600;">R$ 10,00</p>
            </mat-card-content>
        </mat-card>
        <mat-card style="width: 140px; margin: 0 0 0 6px;">
            <img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p style="font-weight: 500;">Xis Carne</p>
                <p style="font-weight: 400;">Validade: 12/06/2020</p>
                <p style="font-weight: 600;">R$ 10,00</p>
            </mat-card-content>
        </mat-card>
        
    </div>
</div>