<mat-tab-group (selectedTabChange)="test($event)">
    <mat-tab label="Xis"></mat-tab>
    <mat-tab label="Second"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
    <mat-tab label="Third"></mat-tab>
</mat-tab-group>

<div style="padding: 12px;">
    <p class="mat-h2">{{filter}}</p>

    <!-- TODO FAZER ESSA APRESENTAÇÃO COM O FLEX LAYOUT -->

    <div fxLayout="row wrap" fxLayoutGap="12px grid">
        <div *ngFor="let item of [1,2,3,4,5]" fxFlex="50">
            <mat-card>
                <img mat-card-image src="https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="mat-body-strong">Xis Carne</p>
                    <p class="mat-small faded-text">Pão, carne, aaa, milho, evervilha, calabresa, maionese, mostarda, ketchup.</p>
                    <p class="mat-h2">R$ 10,00</p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>