<!-- Toolbar quando maior que Small screen -->
<app-nav-bar class="mat-elevation-z4 toolbar-gt-md" color="primary"
             *ngIf="!media.isActive('xs') && !media.isActive('sm')">
</app-nav-bar>

<!-- Side nav (Side && Content) container -->
<!-- Lógicas para mudar de acordo com o tamanho da tela -->
<mat-sidenav-container
                       [ngClass]=" {'content-gt-md': !(media.isActive('sm') || media.isActive('xs')), 'content-lt-md': (media.isActive('sm') || media.isActive('xs')) }">

    <!-- Side menu container -->
    <mat-sidenav #sidenav [mode]="media.isActive('xs') || media.isActive('sm')  ? 'over' : 'side'"
                 [opened]="!media.isActive('xs') && !media.isActive('sm')" class="side">


        <!-- {{ user$ | async | json}} -->

        <mat-accordion  multi="true" displayMode="flat">

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title>
                        <mat-icon>people</mat-icon>
                        <span style="margin-left: 10px">Patrimonio</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-action-list>
                    <button mat-list-item routerLink="patrimonio/">Cadastrar Patrimonio</button>
                    <button  mat-list-item
                            routerLink="patrimonio/list">Gerenciar
                        Patromonios</button>
                    <button  mat-list-item routerLink="patrimonio/relatorio">Relatório de
                        Patromonio</button>
                </mat-action-list>
            </mat-expansion-panel>

            <mat-expansion-panel  [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                    <mat-panel-title>
                        <mat-icon>people</mat-icon>
                        <span style="margin-left: 10px">Pessoas</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-action-list>
                    <button mat-list-item routerLink="professor">Gerenciar Professores</button>
                </mat-action-list>
            </mat-expansion-panel>

        </mat-accordion>

    </mat-sidenav>

    <!-- Content container -->
    <mat-sidenav-content class="content">
        <!-- Toolbar quando menor que Medium Screen -->
        <app-nav-bar class="mat-elevation-z4 toolbar-lt-md" color="primary"
                     *ngIf="media.isActive('xs') || media.isActive('sm')">
        </app-nav-bar>

        <!-- Content  -->
        <!-- <app-home></app-home> -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
