<app-nav-bar [sidenav]="sidenav" *ngIf="!media.isActive('xs') && !media.isActive('sm')" class="mat-elevation-z4">
</app-nav-bar>

<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="media.isActive('xs') || media.isActive('sm')  ? 'over' : 'side'"
    [opened]="!media.isActive('xs') && !media.isActive('sm')">
    <!-- <mat-divider *ngIf="!media.isActive('xs') && !media.isActive('sm')"></mat-divider> -->

    <a>
      <mat-icon *ngIf="sidenav.opened">chevron_left</mat-icon>
      <span class="mat-body">Esconder menu</span>
    </a>

  </mat-sidenav>
  <mat-sidenav-content>

    <app-nav-bar *ngIf="media.isActive('xs') || media.isActive('sm')" [sidenav]="sidenav">
    </app-nav-bar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>