.container{
    height: calc(100vh - 56px);
    // height: auto;
    background: white;
    padding: 12px;
}

.header-text{
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
    // color: rgba(0, 0, 0, 0.67);
}

.form{
    font-size: 16px;
    background: white;
    
}