<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide >
            <img [src]="'https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg'" [title]="'Xis Carne'">
            <!-- <p class="banner-text">Xis CARNE</p> -->
    </ng-template>
    <ng-template carouselSlide >
            <img [src]="'https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg'" [title]="'Xis Carne'">
            <!-- <p class="banner-text">Xis CARNE</p> -->
    </ng-template>
    <ng-template carouselSlide >
            <img [src]="'https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg'" [title]="'Xis Carne'">
            <!-- <p class="banner-text">Xis CARNE</p> -->
    </ng-template>
    <ng-template carouselSlide >
            <img [src]="'https://img.cybercook.com.br/receitas/960/xis-de-frango-1-623x350.jpeg'" [title]="'Xis Carne'">
            <!-- <p class="banner-text">Xis CARNE</p> -->
    </ng-template>
</owl-carousel-o>